# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

##  Objectives: 
    - The popular languages used for Data Science 
    - Commonly used libraries by data scientist
    - Data frames demonstration by using Pandas
    - Evaluating Arthimetic Expressions

In [12]:
### Some of the popular languages that Data Scientists use are:
langlist = ('Python','R','Scala','Julia')
sorted(langlist)

['Julia', 'Python', 'R', 'Scala']

In [13]:
### Some of the commonly used libraries used by Data Scientists include:
liblist = ('Seaborn','Keras','Numpy','Scikit-learn','Pytorch','Pandas','Scipy')
sorted(liblist)

['Keras', 'Numpy', 'Pandas', 'Pytorch', 'Scikit-learn', 'Scipy', 'Seaborn']

In [17]:
### Table of Data Science tools
import pandas as pd
df = pd.DataFrame({'DataScience Tools': ['RStudio','Anaconda','Visual Code']})
df

  DataScience Tools
0           RStudio
1          Anaconda
2       Visual Code

###  Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
hrs =200/60
print(hrs)

3.3333333333333335

## Author
Rishikesh